<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/img/1659170386_4649aca8-2922-4ee9-a6d1-e10dca02ebf7.png" alt="" width="200"
        height="auto">
      {{!-- <h2>New User</h2> --}}
      <p class="lead">Enter in your financial goals and let Goalie help you track (and achieve!) them.</p>
      <p class="lead">Already have a goal set? Click <a href="/">here</a>.</p>
    </div>

    <div class="row">
      {{!-- <div class="col-md-4 order-md-2 mb-4"> --}}
        {{!-- <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Leaderboard</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">-$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Override weekly savings amount">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Set</button>
            </div>
          </div>
        </form> --}}
        {{!--
      </div> --}}
      <div class="col-md-12 order-md-1">

        <form class="needs-validation" method="POST" novalidate>

          <div class="row">
            <div class="col-12 order-md-1">
              <h4 class="mb-3">Your details</h4>
              <div class="mb-3">
                <label for="username">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="input-username" placeholder="Username" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="mb-3">

          <div class="row">
            <div class="col-12 order-md-1">
              <h4 class="mb-3">Your goal</h4>
            </div>
            <div class="col-lg-8 col-md-12 order-md-1">
              <div class="mb-3">
                <label for="address">Goal</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="input-goaldescr" placeholder="For example, 'Brand new shoes'"
                    required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Please enter a valid goal.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 order-md-1">
              <div class="mb-3">
                <label for="address">Goal Cost</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" class="form-control" id="input-goalamount" placeholder="For example, '299'"
                    required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Please enter a valid goal amount.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr class="mb-3">

          <div class="row">
            <div class="col-12 order-md-1">
              <h4 class="mb-3">Your income and savings</h4>
            </div>
            <div class="col-lg-6 col-md-12 order-md-1">
              <div class="mb-3">
                <label for="address">Current Savings</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" class="form-control" id="input-balance" placeholder="For example, '1200'" required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Please enter a valid goal amount.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-7 order-md-1">
              <div class="mb-3">
                <label for="address">Income Per Week</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" class="form-control" id="input-income" placeholder="For example, '500'.  Default weekly." required>
                  <div class="invalid-feedback" style="width: 100%;">
                    Please enter a valid goal amount.
                  </div>
                </div>
              </div>
            </div>
            {{!-- <div class="col-lg-4 col-md-5 order-md-1">
              <div class="d-block my-3">
                <label>Income Frequency</label>
                <div class="custom-control custom-radio">
                  <input id="weekly" name="incomeFrequency" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="weekly">Weekly</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="biweekly" name="incomeFrequency" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="biweekly">Biweekly</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="monthly" name="incomeFrequency" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="monthly">Monthly</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="annually" name="incomeFrequency" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="annually">Annually</label>
                </div>
              </div>
            </div> --}}
          </div>
          
          <hr class="mb-4">

          <button id="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2019 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item"><a href="/newuser">Join</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
      </ul>
    </footer>
  </div>










  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  


  {{!-- Bootstrap --}}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  <script src="/js/index.js"></script>